*{
    margin: 0;
    padding: 0;
}
.hero-section{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("https://i.pinimg.com/736x/a8/da/44/a8da447c5cea0c0e9c30c6308795a2cf.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-section .content h1{
    font-size: 3.5rem;
}

.hero-section .content p{
    font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
    .hero-section{
        height: 70vh;
    }
    .hero-section .content h1{
        font-size: 2rem;
    }
    .hero-section .content p{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 425px) {
    .hero-section{
        height: 50vh;
    }
    .hero-section .content h1{
        font-size: 1.5rem;
    }
    .hero-section .content p{
        font-size: 1rem;
    }
}